<h2 class="text-center pb-2">CREWCALL</h2>


<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required px-4" type="text" name="search[query]" id="search_query", placeholder="Search" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  </div>
<% end %>

<%= link_to "View Projects", root_path, class: 'btn btn-flat fw-light'  %>

<div>
  <% @profiles.each do |profile| %>
    <%= link_to profile_path(profile) do %>
      <div class="card-product mt-2">
        <% if profile.user.profile.photo.attached? %>
          <%= cl_image_tag profile.user.profile.photo.key, gravity: :auto, class: "project-image" %>
        <% else %>
          <%= image_tag "https://www.flaticon.com/svg/static/icons/svg/1134/1134819.svg", class: "project-image"%>
        <% end %>
        <div class="card-product-infos">
          <h2><%= profile.first_name.capitalize %> <%= profile.last_name.capitalize %></h2>
          <p><%= profile.user.username %></p>
          <% if profile.user.is_producer %>
            <div class="badge rounded-pill bg-warning">Producer</div>
          <% else %>
            <div class="badge rounded-pill bg-primary"><%= profile.department %> Department</div>
          <% end %>
       </div>
      </div>
    <% end %>
  <% end %>
</div>
