<h2 class="text-center pb-2">CREWCALL</h2>

<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required px-4" type="text" name="search[query]" id="search_query", placeholder="Search" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  </div>
<% end %>

<div>
  <% @profiles.each do |profile| %>
    <%= link_to profile_path(profile) do %>
      <div class="card-product">
        <% if profile.user.photo.attached? %>
          <%= cl_image_tag profile.user.photo.key, gravity: :auto, class: "project-image" %>
        <% else %>
          <%= image_tag "https://www.flaticon.com/svg/static/icons/svg/599/599305.svg", width: 25, height: 25, crop: :fill, class: "avatar-card"%>
        <% end %>
        <div class="card-product-infos">
          <h2><%= profile.first_name %> <%= profile.last_name %></h2>
          <p><%= profile.user.username %></p>
          <p><%= profile.department unless profile.user.is_producer %></p>
       </div>
      </div>
    <% end %>
  <% end %>
</div>
