<% if current_user.photo.attached? %>
  <%= cl_image_tag current_user.photo.key, gravity: :face, width: 180, height: 180, crop: :fill, class: "avatar-xlarge" %>
<% else %>
  <%= image_tag "https://www.flaticon.com/svg/static/icons/svg/599/599305.svg", gravity: :face, width: 180, height: 180, crop: :fill %>
<% end %>

<h2><strong><%= "#{@profile.first_name} #{@profile.last_name}" %></strong></h2>

  <% if @profile.department? %>
    <p><%= @profile.department%> Department</p>
  <% end %>

  <% if @profile.bio? %>
    <h5 class= "mt-3"><strong>Bio</strong></h5>
    <p><%= @profile.bio %></p>
  <% end %>

  <% if @profile.company_name? %>
    <h5 class= "mt-3"><strong>Company</strong></h5>
    <p><%= @profile.company_name %></p>
  <% end %>

<!-- link mini-avatar and name to user show page -->
<% if user_signed_in? %>
  <% if current_user.profile == @profile %>
    <%= link_to "Edit",  edit_profile_path, class: "btn btn-flat my-2" %>
    <%= link_to "Complete", projects_path, class: "btn btn-flat my-2" %>
  <% end %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-flat my-2" %>
<% end %>
