<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs type-form-control">
    <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" },
                placeholder: ''
                %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                placeholder: ''
                %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" }%>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" }%>
    <%= f.input :is_producer, label: "Tick if you are a Producer.", as: :boolean, checked_value: true, unchecked_value: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign Up", class: 'btn btn-flat' %>
  </div>
<% end %>
Already signed up? Go to <%= render "devise/shared/links" %> now
