<div class="navbar fixed-bottom navbar-expand-sm navbar-dark navbar-lewagon">
  <% if user_signed_in? %>

    <%= link_to root_path, class: "nav-link" do %>
      <i class="fas fa-home"></i>
    <% end %>

    <% if current_user.is_producer? %>

      <%= link_to overview_path, class: "nav-link" do %>
        <% if current_user.notifications.unread.empty? %>
          <i class="fas fa-bell"></i>

        <% else %>
          <i class="fas fa-bell"></i>
          <i class="fas fa-circle navbar-badge"></i>
        <% end %>
      <% end %>

      <%= link_to new_project_path, class: "nav-link" do %>
        <i class="fas fa-plus"></i>
        <!-- TODO only producers + will create project, users + will create application -->
      <% end %>

    <% else %>

      <%= link_to user_jobs_path, class: "nav-link" do %>
        <% if current_user.notifications.unread.empty? %>
          <i class="fas fa-bell"></i>
        <% else %>
          <i class="fas fa-bell"></i>
          <i class="fas fa-circle navbar-badge"></i>
        <% end %>
      <% end %>

    <% end %>

    <%= link_to root_path, class: "nav-link" do %>
      <i class="fas fa-envelope"></i>
    <% end %>

    <% if current_user.profile.nil? %>

      <%= link_to edit_profile_path, class: "nav-link" do %>
          <%= image_tag "https://www.flaticon.com/svg/static/icons/svg/599/599305.svg", width: 25, height: 25, crop: :fill, class: "avatar-card"%>
      <% end %>

    <% else %>

     <%= link_to profile_path(current_user.profile), class: "nav-link" do %>
        <% if current_user.profile.photo.attached? %>
          <%= cl_image_tag current_user.profile.photo.key, width: 25, height: 25, crop: :fill, class: "avatar-card" %>
        <% else %>
          <%= image_tag "https://www.flaticon.com/svg/static/icons/svg/599/599305.svg", width: 25, height: 25, crop: :fill, class: "avatar-card"%>
        <% end %>
      <% end %>

    <% end %>

    <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
      <i class="fas fa-sign-out-alt"></i>
      <% end %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "btn nav-link" %>
    <%= link_to root_path, class: "nav-link" do %>
        <i class="fas fa-home"></i>
      <% end %>
    <%= link_to "Sign Up",  new_user_registration_path , class: "btn nav-link" %>
  <% end %>
</div>
