<div class="navbar fixed-bottom navbar-expand-sm navbar-dark navbar-lewagon">
  <% if user_signed_in? %>
    <%= link_to root_path, class: "nav-link" do %>
<<<<<<< HEAD
        <i class="fas fa-home"></i>
      <% end %>
    <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
    <a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
    <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
=======
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to root_path, class: "nav-link" do %>
      <i class="fas fa-bell"></i>
    <% end %>
    <%= link_to new_project_path, class: "nav-link" do %>
      <i class="fas fa-plus"></i>
      <!-- TODO only producers + will create project, users + will create application -->
    <% end %>
    <%= link_to root_path, class: "nav-link" do %>
      <i class="fas fa-envelope"></i>
    <% end %>
    <% if current_user.profile.nil? %>
      <%= link_to edit_profile_path, class: "nav-link" do %>
        <i class="fas fa-user"></i>
      <% end %>
    <% else %>
     <%= link_to profile_path(current_user.profile), class: "nav-link" do %>
        <i class="fas fa-user"></i>
      <% end %>
    <% end %>
>>>>>>> a19f2a1bdfbc7a6b6c46ada33d3f9e3c2f3db209
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "btn nav-link" %>
    <%= link_to root_path, class: "nav-link" do %>
        <i class="fas fa-home"></i>
      <% end %>
    <%= link_to "Sign Up",  new_user_registration_path , class: "btn nav-link" %>
  <% end %>
</div>
