<h1>Welcome to CrewCall Sitemap (for easy links)</h1>

<p><%= link_to "UIKit", uikit_path, class: "btn btn-flat" %></p>
<p><%= link_to "Profiles Index", profiles_path, class: "btn btn-flat" %></p>
<p><%= link_to "Profiles New", new_profile_path, class: "btn btn-flat" %></p>
<p><%= link_to "Projects Index", projects_path, class: "btn btn-flat" %></p>
<p><%= link_to "Projects New", new_project_path, class: "btn btn-flat" %></p>
