<div class="header">
  <%= image_tag ("CrewcallLogo2.png"), height: 25%>
  <h2 class="text-center pb-2">CREWCALL</h2>
</div>

<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required px-4" type="text" name="query" id="search_query", placeholder="Search" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  </div>
<% end %>

<div>
<%= link_to "View Profiles", profiles_path, class: 'btn btn-flat fw-light'  %>
</div>

<div>
  <% @projects.each do |project| %>
    <%= link_to project_path(project) do %>
      <div class="card-product mt-2">
        <%= cl_image_tag project.photo.key, gravity: :auto, class: "project-image" %>
        <div class="card-product-infos">
          <h2><%= project.title %></h2>
          <p><%= "#{project.start_date.strftime('%d %b %Y')} to #{project.end_date.strftime('%d %b %Y')}" %></p>
            <%= link_to profile_path(project.user.profile) do %>
              <% if project.user.profile.photo.attached? %>
                <%= cl_image_tag project.user.profile.photo.key, width: 25, height: 25, crop: :fill, class: "avatar-card" %>
              <% else %>
                <%= image_tag "https://www.flaticon.com/svg/static/icons/svg/599/599305.svg", width: 25, height: 25, crop: :fill, class: "avatar-card"%>
              <% end %>
          <div class="card-avatar-infos">
            <%= project.user.username %>
             <% end %>
          </div>
       </div>
      </div>
    <% end %>
  <% end %>
</div>



