<h1>Start a new Project</h1>
  <%= simple_form_for([@project]) do |f| %>
    <div class="form-inputs type-form-control">
      <%= f.input :title %>
      <p>Description</p>
      <%= f.rich_text_area :rich_description, required: true, label: "Description" %>
      <%= f.input :start_date, label: "Start Date", as: :string, type: :text %>
      <%= f.input :end_date, label: "End Date", as: :string, type: :text %>
      <%= f.input :photo, as: :file %>
    </div>
    <div class="form-actions">
      <%= f.submit "Create a Project", class: "btn btn-flat w-100" %>
    </div>
  <% end %>
