<h1>Start a new Project</h1>
<%= simple_form_for(@project) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :start_date, as: :string, type: :text %>
  <%= f.input :end_date, as: :string, type: :text %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit", class: "btn btn-flat" %>
<% end %>

