<h1>Overview of My Projects</h1>

  <% @notifications.each do |notification| %>
<div class="alert alert-warning" role="alert">
    <p><%= render notification %></p>
</div>
  <% end %>

<% @projects.each do |project| %>
  <div class="submissions">
    <h5><%= project.title %></h5>
    <p><%= "#{project.start_date.strftime('%d %b %Y')} to #{project.end_date.strftime('%d %b %Y')}" %></p>
    <p>User Applications</p>
    <div class="container">
      <h4>Applicants-Collapsible</h4>
      <button type="button" class="btn btn-info" data-toggle='collapse' data-target="#demo">Collapse</button>
      <div id="demo" class ="collapse">
        <% project.jobs.each do |job| %>
          <% job.user_jobs.each do |user_job| %>
            <div class="submissions-user">
              <%= link_to profile_path(user_job.user.profile) do %>
                <p><%= user_job.user.profile.first_name %> <%= user_job.user.profile.last_name %> (@<%= user_job.user.username %>)</p>
              <% end %>
              <p>Job Title: <%= job.title %></p>
              <p>Status: <%= user_job.status %>
              <%= link_to "Update Status", edit_job_user_job_path(job, user_job), class: "btn btn-rounded" %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "Back", :back, class: 'btn btn-flat'  %>
<%= link_to "Go to All Projects", root_path, class: 'btn btn-flat'  %>
<%= link_to "Go to All Profiles", profiles_path, class: 'btn btn-flat'  %>
