<h1>Overview</h1>



<%= ProducersCalendar.new(self, events: @projects).render do |date, projects| %>
  <%= date.day %>
<% end %>

<%#(events: @projects) do |date, projects| %>
  <%#= date.day %>

  <%# projects.each do |project| %>
  <%# end %>
<%# end %>

  <% @notifications.each do |notification| %>
<div class="alert alert-warning" role="alert">
    <p><%= render notification %></p>
</div>
  <% end %>

<% @projects.each do |project| %>
  <div class="submissions">
    <div class="d-flex text-right">
      <h5 class="text-left"><%= project.title %></h5>
      <p><%= link_to "Edit", edit_project_path(project), class: 'btn btn-warning' %></p>
    </div>
    <p><%= "#{project.start_date.strftime('%d %b %Y')} to #{project.end_date.strftime('%d %b %Y')}" %></p>
    <p><%= link_to "See All Jobs Applicants", project_jobs_path(project), class: 'btn btn-success' %></p>
    <% project.jobs.each do |job| %>
      <p><%= job.title %> (<%= job.user_jobs.count %>) </p>
        <% end %>
  </div>
<% end %>

<%= link_to "Back", :back, class: 'btn btn-flat'  %>
