<h1>Overview of My Projects</h1>

<%= month_calendar(events: @projects) do |date, projects| %>
  <%= date.day %>

  <% projects.each do |project| %>
  <% end %>
<% end %>

  <% @notifications.each do |notification| %>
<div class="alert alert-warning" role="alert">
    <p><%= render notification %></p>
</div>
  <% end %>

<% @projects.each do |project| %>
  <div class="submissions">
    <h5><%= project.title %></h5>
    <p><%= "#{project.start_date.strftime('%d %b %Y')} to #{project.end_date.strftime('%d %b %Y')}" %></p>
    <p>Jobs <%= link_to "See All Jobs Applicants", project_jobs_path(project), class: 'btn btn-flat' %></p>
      <% project.jobs.each do |job| %>
        <p><%= job.title %> (<%= job.user_jobs.count %>) </p>
        <% end %>
  </div>
<% end %>

<%= link_to "Back", :back, class: 'btn btn-flat'  %>
<%= link_to "Go to All Projects", root_path, class: 'btn btn-flat'  %>
<%= link_to "Go to All Profiles", profiles_path, class: 'btn btn-flat'  %>
