
<h1>Project: <%= @project.title %></h1>

<%= cl_image_tag @project.photo.key, class: "photobanner" %>
<h3>About the Project</h3>
<%= @project.description %>
<%= @project.user.username %>
<h3>Project Timeline</h3>
<p><%= @project.start_date.strftime('%d %b %Y') %> to <%= @project.end_date.strftime('%d %b %Y') %></p>
<h3>Project Jobs</h3>

<%= link_to "Back", :back, class: 'btn btn-flat'  %>
