<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>

<%= @project.title %>
<%= @project.description %>
<p><%= @project.start_date %> to <%= @project.end_date %></p>
<%= cl_image_tag @project.photo.key, crop: :fill, width: 375, height: 420 %>
